<%# Include the header module (partial) %> 
<%- include('./partials/head.ejs') %> 

<main>
    <h1>Page could not be found</h1>
</main>

<%# Include the header module (partial) %> 
<%- include('./partials/footer.ejs') %> 