<%# Include the header module (partial) %> 
<%- include('./partials/head.ejs') %> 

<main>
    <h1>Welcome to sockets!</h1>
    <a href="<%= `/room/${roomNum}` %>">Create a room</a>
</main>

<%# Include the header module (partial) %> 
<%- include('./partials/footer.ejs') %> 