<%# Include the header module (partial) %> 
<%- include('./partials/head.ejs') %> 

<main>
    <h1>Room created!</h1>
    <p>To share this room with your friends, copy the code below and share it!</p>
    <p><%= roomNum %></p>

    <h2>Join the game:</h2>
    <p>To join the game, please enter your name:</p>
    <form action="<%= `/room/${roomNum}/play` %>" method="POST">
        <input type="text" name="username" id="username" autocomplete="off">
        <button>Send</button>
    </form>
</main>

<%# Include the header module (partial) %> 
<%- include('./partials/footer.ejs') %> 