<%# Include the header module (partial) %> 
<%- include('./partials/head.ejs') %> 

<main>
    <h1>Welcome</h1>
    <p>Connected as: <span class="username"><%= userName %></span></p>
    <section>
        <h3>Scoreboard:</h3>
    </section>
</main>

<%# Include the header module (partial) %> 
<%- include('./partials/footer.ejs') %> 